.sign-up-block

    &__section
        background-color #12152A

    &__inner
        padding-top 50px
        padding-bottom 70px
        background-color #fff
        border-radius 0px 25px 25px 25px
        position relative
        overflow hidden

        @media (min-width: $desc)
            padding-top 105px
            padding-bottom 115px

        @media (min-width: $tablet)
            border-radius 0

        &:before
            content ''
            position absolute
            bottom -190px
            left 70%
            background-image url('../img/about-bg.svg')    
            background-repeat no-repeat
            background-position 0 0
            width 905px
            height 460px
            transform scale(-1, 1)
            background-size contain
            z-index 1

            @media (min-width: 1280px)
                width 1573px
                height 799px
                right 89%
                bottom -325px
                left auto

            @media (min-width: $tablet)
                transform none
                
        &:after
            content ''
            position absolute
            bottom 25px
            left 50px
            background-image url('../img/pattern-dots.svg')    
            background-repeat no-repeat
            background-position 0 0
            width 100%
            height 7px
            background-size contain
            z-index 1   

            @media (min-width: $desc)
                width 1573px
                height 799px
                bottom -325px
                left 63%

            @media (min-width: $tablet)
                background-image url('../img/about-bg.svg')    
                left 70%
                bottom -210px
                width 905px
                height 460px

    &__content
        position relative
        z-index 5

    &__title
        font-size 30px
        font-weight bold
        line-height 1.4
        margin-bottom 40px
        width 240px
        max-width 100%

        @media (min-width: $desc)
            margin-bottom 65px

        @media (min-width: $tablet)
            width 550px

    &__btn-sign-up

        @media (min-width: $desc)
            font-size 24px
            padding 40px 50px
            border-radius 0px 50px 50px 50px