.app-footer
    flex none
    padding-top 40px
    padding-bottom 45px

    @media (min-width: $tablet)
        padding-top 20px
        padding-bottom 25px

    &__inner
        text-align center
        display flex
        align-items center
        flex-direction column

        @media (min-width: $desc)
            flex-direction row
            justify-content space-between

    &__site-copy
        font-size 14px
        line-height 1.2
        order 1 
        margin-top 75px

        @media (min-width: $desc)
            order 0
            margin-top 0
            margin-right 35px

    &__policy-links
        
        @media (min-width: $desc)
            display flex
            align-items center

        a
            font-size 12px
            color #000
            line-height 1.3
            display block
            margin-bottom 30px

            @media (min-width: $desc)
                margin-bottom 0
                margin-right 45px

            &:last-child
                margin-bottom 0
                margin-right 0