.news-block
  flex none
  padding 55px 0 34px
  background $color1

  @media (min-width: $desc)
    padding-bottom 45px

  &__list
    margin-bottom 40px
    display flex
    // transition-duration 1s !important

    &:not(.tns-slider)
      overflow hidden
      & ^[0]
        &__item
          flex 0 0 100%

    @media (min-width: $desc)
      margin-bottom 58px

  &__navigation
    display flex
    flex-wrap wrap
    align-items center

  &__more
    flex 1 0 auto
    margin-right 20px
    .site-btn
      font-size 16px
      padding 12px 28px

  &__slider-nav
    display flex
    justify-content space-between
    flex 0 0 108px

    > button
      padding 0
      border none
      outline none
      cursor pointer
      text-decoration none
      display inline-block
      vertical-align top
      height 40px
      width 44px
      background url("data:image/svg+xml,%3Csvg width='45' height='16' viewBox='0 0 45 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 7.29289C-0.0976295 7.68342 -0.0976295 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM45 7L1 7V9L45 9V7Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat
      background-size contain

      &:last-child
        transform rotate(180deg)

    @media (min-width: $desc)
      flex 0 0 146px

      > button
        width 54px

.news-thumbs
  display flex

  &__text
    flex 1 1 0
    font-size 14px
    color #fff

    a
      color #9681F2
      text-decoration none

  &__date
    flex 0 0 auto
    display inline-block
    writing-mode vertical-rl
    font-size 17px
    font-weight 600
    color #9681F2
    margin-right 24px
    transform rotate(180deg)
    text-align right
    margin-top 4px

  @media (min-width: $desc)
    &__text
      font-size 17px

    &__date
      margin-right 40px
